
<html>
<head>
##@import url('$pageContext.request.contextPath/resources/css/Login Page.css');
##@import url('$pageContext.request.contextPath/resources/css/footer.css');
##@import url('$pageContext.request.contextPath/resources/css/bootstrap.css');
##<link rel="stylesheet" type="text/css" href="Login Page.css">
##<link rel="stylesheet" type="text/css" href="footer.css">
##<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
<br>Request sent to Admin<br/>
<a href="login">Go Back to Login Page</a>

<div class="navbar navbar-inverse navbar-static-top" id="stickyHeader">
						
		<div class="container" id="topbar">
			
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Home</a></li>
				
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Health Care Professionals</a>
						<ul class="dropdown-menu">
							<li><a href="#">Quality of Care</a></li>
							<li><a href="#">Provider Manuals</a></li>
						</ul>
					</li>
					
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Members<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Health Programs</a></li>
							<li><a href="#">Medicare Plans</a></li>
						</ul>
					</li>
														
				</ul>
			</div>
			
		</div>
	</div>


 ##<footer>
      <div id="footer">
        <p > 
			<span style="margin-left:20px;">© 2015 Apollo Hospitals, Inc. All Rights Reserved</span>
		</p>
      </div>
 ##</footer>
 
 </body>
</html>